<div class="brands box">

            <a href="#"><img src="./img/Envato.png" alt=""></a>
            <a href="#"><img src="./img/WordPress.png" alt=""></a>
            <a href="#"><img src="./img/Tuts.png" alt=""></a>
            <a href="#"><img src="./img/Microlancer-copy.png" alt=""></a>

    </div>

    <div class="contact box">
        <h2 class="title">Contact us</h2>
        <p class="describe">Proin iaculis purus consequat sem cure. </p>
        <div class="contact-wrap">
                <div class="contact-item left_item">
                    <form action="">
                        <input type="text" placeholder="your Name *">
                        <input type="text" placeholder="your e-mail *">
                        <input type="text" placeholder="subject *">
                    </form>
                </div>
                <div class="contact-item left_item">
                    <textarea placeholder="Your message *"></textarea>
                </div>

                <button class="primary bnt">Send Message</button>

        </div>
    </div>
    <footer>
        <div class="wrapper">
        <div class="caption">
            <p>© Copyright 2014 FreebiesXpress.com</p>
        </div>
        </div>
    </footer>