
 <div class="portfolio box">
        <h2 class="title">Our portfolio</h2>
        <p class="describe">Proin iaculis purus consequat sem cure.</p>
        <div class="wrapper-portfolio">
        <div class="items-portfolio">
            <a href="#"><img src="./img/1.png" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
            </div>
        </div>
        <div class="items-portfolio">
            <a href="#"><img src="./img/2.png" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
        </div>
        </div>
        <div class="items-portfolio">
            <a href="#"><img src="./img/3.jpg" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
        </div>
        </div>
        <div class="items-portfolio">
            <a href="#"><img src="./img/4.png" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
        </div>
        </div>
        <div class="items-portfolio">
            <a href="#"><img src="./img/5.png" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
        </div>
        </div>
        <div class="items-portfolio">
            <a href="#"><img src="./img/6.png" alt=""></a>
            <div class="caption">
            <h5 class="title">Ebony & Ivory</h5>
            <span>Branding</span>
        </div>
        </div>
        </div>
    </div>