<div class="services box">
        <h2 class="title">Services</h2>
        <p class="describe">Proin iaculis purus consequat sem cure.</p>
        <div class="items commerce">
            <h5 class="title">E-Commerce</h5>
            <p class="describe">Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
        <div class="items service">
            <h5 class="title">Responsive Web</h5>
            <p class="describe">Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
        <div class="items responsive">
            <h5 class="title">Web Security</h5>
            <p class="describe">Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
    </div>