
    <div class="team box">
        <h2 class="title">our amazing teams</h2>
        <p class="describe">Proin iaculis purus consequat sem cure.</p>
        <div class="team-wrap">
            <div class="our_team_item">
                <img src="./img/people.png" alt="">
                <h6 class="title">Kimberly Thompson</h6>
                <p class="desc">Marketer</p>
                <div class="social">
                    <a class="soc" href="#"><img src="./img/Twitter.png" alt=""></a>
                    <a class="soc" href="#"><img src="./img/Facebook.png" alt=""></a>
                    <a class="soc" href="#"><img src="./img/Google.png" alt=""></a>
                </div>
            </div>

            <div class="our_team_item">
                <img src="./img/people.png" alt="">
                <h6 class="title">Rico Massimo</h6>
                <p class="desc">Coder</p>
                <div class="social">
                    <a class="soc" href="#" onmousemove="change()"><img src="./img/Twitter.png" alt=""></a>
                    <a class="soc" href="#"><img src="./img/Facebook.png" alt=""></a>
                    <a class="soc" href="#"><img src="./img/Google.png" alt=""></a>
                </div>
            </div>

            <div class="our_team_item">
                <img src="./img/people.png" alt="">
                <h6 class="title">Uku Mason</h6>
                <p class="desc">Graphic Designer</p>
                <div class="social">
                    <a class="soc" href="#"><img src="./img/Twitter.png" alt=""></a>
                    <a class="soc" href="#"><img src="./img/Facebook.png" alt=""></a>
                </div>
            </div>
            <p class="caption_team">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
        </div>
    </div>