.container{
    width:940px;
    margin: 0 auto;
}
header{
    position:absolute;
    padding: 20px 0px;
    left:0;
    right:0;
}
.nav{
    float:right;
}
.logo{float:left;}
.nav ul{
    float:right;
}

.nav li {
    float:left;
    margin-left:40px;
    list-style: none;
}
header a:hover{
    color: #fed136;
}
a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font:14px Arial , sans-serif;
}
.home{
    background: #000 url("../img/Tint.jpg") no-repeat bottom;
    background-size: cover;
    height:700px;
    padding:280px;
    text-align:center;
    color: #fff;
}
.home h2{
    font:40px/40px Arial,sans-serif;
    margin-bottom: 40px;
}
.home h1{
    font:75px/75px Arial,sans-serif;
    text-transform:uppercase;
    margin-bottom:60px;
}
.primary{
    padding:23px 30px;
    background-color: #fed136;
    border-radius: 4px;
    font:bold 24px Arial , sans-serif;
    color:#fff;
    border:0;
    margin:0 auto;
}
.primary:hover{
    background-color:#b1932b;
}
.services{
    height: 600px;
    text-align: center;
    width: 970px;
    margin:0 auto;
}
.box{
    padding:120px 0;
}
h2.title{
font:bold 40px Arial;
    text-transform: uppercase;
}
.describe{
    font:16px Times New Roman;
    color:#777777;
    margin-top:20px;
}
.items{
    float:left;
    width:33.3%;
    padding:100px 10px 0;
    margin-top:80px;
}
h5.title{
    font:bold 18px Arial;
}
.commerce{
  background: url("../img/Comerce.png") no-repeat center top;
}
.responsive{
    background: url("../img/lock.png") no-repeat center top;
}
.service{
    background: url("../img/ok.png") no-repeat center top;
}
.portfolio{
    text-align: center;
    margin: 0 auto;
    background: #fdfdfd;
    max-width:970px;
}
.wrapper-portfolio{
    display: flex;
    flex-flow:row wrap;
    justify-content:space-between;
    margin-top:80px;
}
.items-portfolio{
    height: 392px;
    width: 30%;
    margin-bottom: 50px;
    background-color: #fff;
    margin-left: 2.5%;
}
.caption{
    padding:30px 20px;
}
.items-portfolio:nth-last-child(1),
.items-portfolio:nth-last-child(2),
.items-portfolio:nth-last-child(3){
    margin-bottom:0;
}
.items-portfolio:nth-child(1),
.items-portfolio:nth-child(4){
    margin-left: 0;
}


.about_us{
    margin: 0 auto;
    text-align: center;
    width:970px;
    min-height: 1646px;
}
.about_us_items{
    width:180px;
    height: 180px;
}
.about_us_items{
    width:579px;
    margin-top: 81px;
}
.image_right{
    float:right;
}
.image_left{
    float:left;
}
.about_us_items_left{
    float:left;
}
.about_us_items_right{
    float:right;
}
.text_right{
    text-align: right;
    float:right;
    float:right;
    padding-right:40px;
}
.text_left{
    text-align: left;
    float:left;
    padding-left: 40px;
}
.description{
    width: 317px;
}
.our_story{
    display:block;
    background-color: #fed136;
    width:181px;
    height:181px;
    border-radius:50%;
    border:#f1f1f1 solid 7px;
    text-align: center;
    padding:40px 31px;
    font:bold 18px Arial;
}
.image::after{
    content:'';
    display:block;
    width:3px;
    height: 94px;
    background-color: #f1f1f1;
    margin:0 auto;
}
.image{
    height: 182px;
    border-radius: 50%;
}


.team{
    margin:0 auto;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 970px;
    min-height: 818px;
}
.our_team_item{
    margin-top:80px;
    width:30%;
}
our_team_item img{
    height: 230px;
    width: 230px;
}
.team-wrap{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
.social li:first-child{
    margin-left:0;
}
h6.title{
    margin-top:19px;
    font:bold 16px Arial;
}
.desc{
    margin-top:11px;
    font:14px Arial;
    color:#777777;
}
.social{
    margin-top:15px;
}
.social a{
    margin-left: 10px;
}
.social a:first-child{
    margin-left:0;
}
.caption_team{
    text-align:center;
    font:16px Times New Roman;
    margin:52px 201px 0;
    color:#777777;
}
.brands{
    justify-content:space-around;
    max-width: 970px;
    margin:0 auto;
    padding:73px 75px;
}
.brands a{
    margin-left:49px;
}
.brands a:first-child{
    margin-left: 0;
}
.contact{
    min-height:676px;
    text-align: center;
    margin:0 auto;
    background: url("../img/Map-Image.png");
    background-size:cover;
    padding: 0 auto;
}
.contact-wrap{
    margin:0 auto;
    max-width: 970px;
}
.contact-item{
    width:50%;
    margin-top:80px;
    height: 214px;
    margin-bottom: 30px;
}
input{
    padding: 16px 20px;
    font:bold 14px Arial;
    margin-bottom:30px;
    height: 50px;
    width: 455px;
    border-radius:5px;
    border:1px solid #cccccc;
    text-transform: uppercase;
}
textarea{
    padding: 16px 20px;
    font:bold 14px Arial;
    text-transform: uppercase;
    height:210px;
    width:456px;
    border:1px solid #cccccc;
    border-radius:5px;
    resize: none;
}
.left_item{
    float:left;
}
.contact h2.title{
    color:#fff;
}
footer{

}
.caption{
    float:left;
}
.wrapper{
    padding:0 69px;
    max-width: 970px;
    margin:0 auto;
}
.caption{
    font:14px Arial;
}